[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
uvicorn = "*"
python-dotenv = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
pytest-alembic = "*"
docker = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
