[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
uvicorn = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg-binary = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
